<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_tide_extreme_path(@tide_extreme) %> |
<%= link_to 'Back', tide_extremes_path %>
<h2><%= @tide_extreme.time %></h2>
<p><%= @tide_extreme.type %></p>
<p><%= @tide_extreme.height %></p>
